# 数据库
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=micro_service_project
DB_USERNAME=postgres
DB_PASSWORD=your_password

# Nacos
NACOS_ADDR=127.0.0.1:8848

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Seata
SEATA_ADDR=127.0.0.1:8091

# RocketMQ
ROCKETMQ_ADDR=127.0.0.1:9876

# Sentinel
SENTINEL_DASHBOARD=127.0.0.1:8089