<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.boot.stockservice.mapper.StockMapper">

    <select id="selectByProductId" resultType="com.spring.boot.stockservice.entity.Stock">
        SELECT * FROM t_stock WHERE product_id = #{productId}
    </select>

    <select id="deductStock" resultType="int">
        Update t_stock Set stock = stock - #{num} Where product_id = #{productId} And stock >= #{num} RETURNING stock
    </select>

</mapper>